%h1 Golfers
|
- ('A'..'Z').each do |letter|
  =link_to letter, list_golfers_path(:alphabet => letter)
  |

%table
  %tr
    %th Name
    %th
    %th

  - @golfers.each do |golfer|
    %tr
      %td= link_to golfer.name, golfer