= form_for @tournament do |f|
  -if @tournament.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tournament.errors.count, "error")} prohibited this tournament from being saved:"
      %ul
        - @tournament.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :course
    = f.text_field :course
  .field
    = f.label :end_date
    = f.date_select :end_date
  .actions
    = f.submit 'Save', :class => 'btn primary'
