%h1 Listing tournaments

%table.table.table-condensed
  %thead
    %tr
      %th Name
      %th Course
      %th End Date
      
  %tbody
  - @tournaments.each do |tournament|
    %tr
      %td= link_to tournament.name, tournament
      %td= tournament.course
      %td= tournament.end_date