%p#notice= notice

%h1
  = @tournament.name
%p
  %b Course:
  = @tournament.course
%p
  %b End Date:
  = @tournament.end_date

%h2 Results

%table
  %thead
    %tr
      %th Place
      %th Golfer
      %th Winnings
  %tbody
  =render @tournament.results