.hero-unit
  %h1 SportMonkey!
  %p It's your lucky day. You've found us! Now get ready for the challenge.
  %p Do you want to put your sport's knowledge to the test and try to guess who are the best players of the season?
  %p Choose your favourite players, challenge your friends and let's see who gets the best results.
  %p=link_to "Check latest results", "https://docs.google.com/spreadsheet/ccc?key=0AhvCGr-ppdV3dDVWcm9EZ0pib2hiYUNnUEM3WmNwYnc", :id => 'latest-results', :class => "btn btn-primary btn-large"