/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require golfers
 *= require scaffolds
 *= require tournaments
 * require_tree . 
*/
@import 'compass_twitter_bootstrap';

body {
	padding-top: 60px;
	padding-bottom: 40px;
}