!!!
%html
  %head
    %title= "SportMonkey | #{@title}"
    = stylesheet_link_tag		 "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
	  
  %body(class="#{controller.controller_name}")
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{:data => {:toggle => "collapse", :target => ".nav-collapse"}}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
            
          =link_to "SportMonkey.ca", root_url, :class => "brand"
          
          .nav-collapse
            %ul.nav
              %li= link_to "Home", root_url , :class => "active"
              %li= link_to "Golfers", golfers_path
              %li= link_to "Tournaments", tournaments_path
              %li= link_to "About", "#about"
              %li= link_to "Contact", "#contact"
              
            %p.navbar-text.pull-right= "Logged in as #{link_to("username", "#")}"
          
    .container-fluid
      .span3
        .well.sidebar-nav
          %ul.nav.nav-list
            %li.nav-header Shortcuts
            %li.active= link_to "Active Link", "#"
            %li= link_to "Link", "#"
    
      .span9
        .content
          = yield
  
          %hr
  
          #footer
            %p &copy; SportMonkey.ca 2011