!!!
%html
  %head
    %title= "SportMonkey | #{@title}"
    = stylesheet_link_tag		 "application", "landing_page"
    = javascript_include_tag "application"
    = csrf_meta_tags
	  
  %body.landing_page
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{:data => {:toggle => "collapse", :target => ".nav-collapse"}}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
            
          = link_to "SportMonkey", root_url, :class => "brand"
          .nav-collapse
            %ul.nav
              %li= link_to "Home", root_url , :class => "active"
              %li=# link_to "About", :pages_about
              %li=# link_to "Contact", :pages_contact
          
    .container
      = yield
      
      %hr
      
      #footer
        %p &copy; SportMonkey.ca 2011